<!doctype html>
<title>Login</title>
<header><title>sum imagus</title></header>
<body>
	<!-- month:
	<br>
	<input type="text" name="Month">
	<br>
	from:
	<br>
	<input type="text" name="Year From">
	<br>
	to:
	<br>
	<input type="text" name="Year to">
	<br>
	min:
	<br>
	<input type="text" name="Min">
	<br>
	max:
	<br>
	<input type="text" name="Max">
	<br>
	<input type="submit" value="Submit">
	<p>Click submit to submit</p> -->

	<img src="static/CO2.png"/>
	<img src="static/Temperature.png"/>
</body>
